In [1]:
test = [(1,2,3),(4,5,6),(7,8,9)]

In [2]:
for i,j,k in test:
    print('i = {0}, b = {1}, c = {2}'.format(i,j,k))

i = 1, b = 2, c = 3
i = 4, b = 5, c = 6
i = 7, b = 8, c = 9

In [12]:
# タプルからの取り出し。冒頭だけ欲しい時後ろ側をまとめてしまう
value = 1,2,3,4,5
a,b,*_ = value

In [26]:
test = 'a','b','b','a','c','a','b','c','c','a','b','a'
test.count('b')

4

In [55]:
test = range(10)
test = list(test)
gain = list([10,11,12])
test = gain + test
test

[10, 11, 12, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
id(test)

140409022472096

In [57]:
test.sort()
test

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [44]:
test = ['see', 'cloud', 'sun', 'rain', 'snow', 'typhoon']
test.sort(key = len)
test

['see', 'sun', 'rain', 'snow', 'cloud', 'typhoon']

In [105]:
test = [7,2,3,7,5,6,0,1]

In [68]:
test[0:8:2]

[7, 3, 5, 0]

In [85]:
somes = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(somes):
    somes[i] = v + 'es'
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [89]:
sorted_test = sorted(test)
sorted_test

[0, 1, 2, 3, 5, 6, 7, 7]

In [95]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

for (j,k) in zip(seq1,seq2):
    print('{0}, {1}'.format(j,k))

foo, one
bar, two
baz, three

In [101]:
pitchers = [('nokan','Ryan'),('roger', 'Clemens'),('schilling', 'Curt')]
a, b = zip(*pitchers)
a

('nokan', 'roger', 'schilling')

In [124]:
d1 = {'a':'str', 2:'int'}
d1[3.14] = 'float'
d1

{'a': 'str', 2: 'int', 3.14: 'float'}

In [125]:
some = d1.pop('a')
some

'str'

In [127]:
d1.update({'X':'未知', 6:'satan'})

In [128]:
d1

{2: 'int', 3.14: 'float', 'X': '未知', 6: 'satan'}

In [129]:
d2 = {2.37 : 'e',}
d1.update(d2)
d1

{2: 'int', 3.14: 'float', 'X': '未知', 6: 'satan', 2.37: 'e'}

In [211]:
mapping = dict(zip(range(10,15), range(20,25)))
mapping

{10: 20, 11: 21, 12: 22, 13: 23, 14: 24}

## 以下の３つは全て同じ結果となる

In [148]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0] # ワードの頭文字
    if letter not in by_letter:
        by_letter[letter] = [word] # ここでディクショナリに新しいキーと対応するリストを作っている
    else:
         by_letter[letter].append(word)
            
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [150]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

# setdefault ... ディクショナリにキーが存在しない場合のみ要素を追加する
for word in words:
    letter = word[0] # ワードの頭文字
    by_letter.setdefault(letter, []).append(word) # 頭文字(letter)に対するバリューのリスト([])に要素を追加(.append(word))する

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [155]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
    
by_letter = dict(by_letter)
print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [182]:
import numpy as np

# 集合演算を使って公倍数を確認する

x = set(range(3,100,3))
y = set(range(0,100,7))

print(x.union(y))          # --> print(x | y)  和集合 ： full join
print(x.intersection(y))   # --> print(x & y)  積集合 : inner join

{0, 3, 6, 7, 9, 12, 14, 15, 18, 21, 24, 27, 28, 30, 33, 35, 36, 39, 42, 45, 48, 49, 51, 54, 56, 57, 60, 63, 66, 69, 70, 72, 75, 77, 78, 81, 84, 87, 90, 91, 93, 96, 98, 99}
{42, 84, 21, 63}

In [189]:
w = x.copy()
w |= y      # wとyの和集合を作り、それをwへ置き換える

z = x.copy()
z &= y      # zとyの積集合を作り、それをzへ置き換える

## リスト内包表記

In [197]:
int_list = [1,2,3,4,5,6,7,8,9,10]

In [204]:
# 通常のfor文
result = []

for i in int_list:
    if i % 2 == 0:
        result.append(i)
        
result

[2, 4, 6, 8, 10]

In [210]:
# リスト内包表記 -->　簡潔に書ける
result = [i//2 for i in int_list if i % 2 != 0]
result

[0, 1, 2, 3, 4]

## ディクショナリ内包表記

In [215]:
string = ['a','abc', 'def', 'hij', 'okr']
loc_mapping = {i : j for i, j in enumerate(string)}

loc_mapping

{0: 'a', 1: 'abc', 2: 'def', 3: 'hij', 4: 'okr'}

## 関数

In [217]:
def my_function(x, y):
    if (x*y) %  2 == 0:
        return 'True'
    else:
        return 'False'

In [223]:
x = [1,2,3,4,5]
y = [1,3,5,7,9]

[i + j for i, j in zip(x, y) if my_function(x=i, y=j) == 'True']

[5, 11]

In [224]:
# 複数の値を戻す
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

In [230]:
a,b,c = f()
a,b,c

(5, 6, 7)

In [246]:
# 複雑な変数処理
states = ['  Alabama', 'Georgia!', 'Georgia', 'georgia', 'F1OrIda', 'south', 'carolona##', 'West virginia?']

import re # 正規表現ライブラリ

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() # 文字列の両端を削除する。デフォルトでは空白を削除
        value = re.sub('[!#?]', '', value) # 1つ目に引数に該当する文字を２つ目の引数に変換する
        value = value.lower() # 全て小文字にする
        result.append(value)
    return result

In [247]:
clean_strings(states)

['alabama',
 'georgia',
 'georgia',
 'georgia',
 'f1orida',
 'south',
 'carolona',
 'west virginia']

In [252]:
# 上記の関数をより便利に
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
    
clean_ops = [str.strip , remove_punctuation, str.title]

def clean_strings(strings):
    result = []
    for value in strings:
        for function in clean_ops:
            value = function(value)
        result.append(value)
    return result

In [253]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'F1Orida',
 'South',
 'Carolona',
 'West Virginia']

In [264]:
# lambda関数を使って関数に関数を含める
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x : x**2)

[16, 0, 1, 25, 36]

In [295]:
strings = ['foo', 'card', 'bar', 'aaaa', 'b', 'fg']
strings.sort(key = lambda x : len((x)))
strings

['b', 'fg', 'foo', 'bar', 'card', 'aaaa']

## カリー化

In [310]:
def add_number(x, y):
    return x + y

add_number(8,3)
add_five = lambda y : add_number(5, y)

# add_fiveはadd_numberの引数xに対して5が代入されたものになっている、よって引数が１つになる
add_five(2)

7